/*
**********
- IE 8 이하브라우저에서는 local() 속성을 인식하지 못하고, 사용자 로컬에 폰트가 잘 못 설치된 경우 원하는 화면이 노출되지 않을 수 있기 때문에 local() 명시안함.
- format : 속성을 넣어 사용자 PC에 불필요한 파일 다운로드 건너뛰기 (브라우저 별 불필요 다운로드 방지) 
- eot 확장자는 src 최상단에 명시 : IE에서 타 형식 인식 못함 
**********
*/

/* ======== 나눔스퀘어 ======== */
@font-face {/*normal*/
  font-family: 'Nanum Square';
  font-style: normal;
  font-weight: 400;
  src: url(../css/webfont/NanumSquareR.eot), /* IE9 Compat Modes */
  	   url(../css/webfont/NanumSquareR.eot?#iefix) format('embedded-opentype'),/* IE6-IE8 */
       url(../css/webfont/NanumSquareR.woff) format('woff'),/* Modern Browsers */
       url(../css/webfont/NanumSquareR.ttf) format('truetype');
}

@font-face {/*bold*/
  font-family: 'Nanum Square B';
  font-style: normal;
  font-weight: 700;
  src: url(../css/webfont/NanumSquareB.eot), /* IE9 Compat Modes */
  	   url(../css/webfont/NanumSquareB.eot?#iefix) format('embedded-opentype'),/* IE6-IE8 */
       url(../css/webfont/NanumSquareB.woff) format('woff'),/* Modern Browsers */
       url(../css/webfont/NanumSquareB.ttf) format('truetype');/* Safari, Android, iOS */
}

@font-face {/*lighter*/
  font-family: 'Nanum Square L';
  font-style: normal;
  font-weight: 200;
  src: url('../css/webfont/NanumSquareL.eot'), /* IE9 Compat Modes */
       url(../css/webfont/NanumSquareL.eot?#iefix) format('embedded-opentype'),/* IE6-IE8 */
       url(../css/webfont/NanumSquareL.woff) format('woff'),/* Modern Browsers */
       url(../css/webfont/NanumSquareL.ttf) format('truetype');/* Safari, Android, iOS */
}

/* ======== 본고딕 ======== */
@font-face {/*normal*/
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.eot'), /* IE9 Compat Modes */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
  
}

@font-face {/*lighter*/
  font-family: 'Noto Sans L';
  font-style: normal;
  font-weight: 300;
  src: url('../css/webfont/noto-sans-kr-v13-latin_korean-300.eot'), /* IE9 Compat Modes */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-300.woff') format('woff'), /* Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

@font-face {/*bold*/
  font-family: 'Noto Sans B';
  font-style: normal;
  font-weight: 500;
  src: url('../css/webfont/noto-sans-kr-v13-latin_korean-500.eot'), /* IE9 Compat Modes */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-500.woff') format('woff'), /* Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

@font-face {/*extra bold*/
  font-family: 'Noto Sans EB';
  font-style: normal;
  font-weight: 700;
  src: url('../css/webfont/noto-sans-kr-v13-latin_korean-700.eot'), /* IE9 Compat Modes */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/webfont/noto-sans-kr-v13-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
